a
{
	text-decoration: none;	
}


.card--flex-toolbar {
  margin-top: -100px;
  cursor: pointer;  
  margin-bottom: 100px;
}

#mobile-nav-content p
{
	padding: 12px;
	margin-top: 10px;	
	text-align: center;
}

#mobile-nav-content p a
{
	color: grey;
}

#parallax-title
{
	letter-spacing: 5px;
	font-family: 'Lobster', cursive;
	font-weight: normal;
}

#card-center-text
{
	position: relative;
	text-align: center;	
	margin-top: 20%;	
	font-size: 3vw;
	font-family: 'Cinzel', serif;
	letter-spacing: 2px;
}

#card-center-small
{
	text-align: center;
	letter-spacing: 2px;
	margin-top: 10%;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 1vw;
}

#theFooter
{
	margin-top: 10%;
}

#interest-chip
{
	margin-top: 10%;
}

#respon-card
{
	width: 600px;
	margin: 0 auto;
}

@media screen and (max-width: 600px)
{
	#card-center-text
	{
		font-size: 18px;
	}
	#card-center-small
	{
		font-size: 9px;
	}

	#respon-card
	{
		width: 100%;
	}
}