<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="about.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>  
 
<div id="top-nav" class="hidden-sm-and-down">
	<v-app id="inspire">
		<v-toolbar fixed>
			<v-toolbar-title><a href="index.html" style="color: black">Watches.Co</a></v-toolbar-title>
			<v-spacer></v-spacer>
			<v-toolbar-items class="hidden-sm-and-down">
				<v-btn flat style="background-color: silver">About us</v-btn>
				<v-btn flat>Men</v-btn>
				<v-btn flat>Women</v-btn>
			</v-toolbar-items>
		</v-toolbar>
	</v-app>
</div>

<div id="mobile-app">
	<v-app id="mobile-nav">
		<v-layout
      wrap
      style="height: 200px;"
    >
      <v-container>
        <v-layout>
          <v-btn fixed
            color="pink"
            dark
            @click.stop="drawer = !drawer" style="position:fixed;top: 0;left: 0;"
          >
            Toggle
          </v-btn>
        </v-layout>
      </v-container>
  
      <v-navigation-drawer
        v-model="drawer"           
        dark
       	fixed
        temporary
      >
        <v-list class="pa-1">          
  
          <v-list-tile avatar tag="div">
  
            <v-list-tile-content>
              <v-list-tile-title>Watches.Co</v-list-tile-title>
            </v-list-tile-content>
  
            
          </v-list-tile>
        </v-list>
  
        <v-list class="pt-0" dense>
          <v-divider light></v-divider>
  
          <v-list-tile
            v-for="item in items"
            :key="item.title"
            @click=""
          >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
  
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
    </v-layout>
	</v-app>
</div>


<div style="height: 2000px;"></div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="about.js"></script>

</body>
</html>