<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="about.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Lobster|Cinzel" rel="stylesheet">
<!-- 
	font-family: 'Lobster', cursive; // #parallax-title
	font-family: 'Cinzel', serif; // #card-center-text
 -->

</head>
<body>  
 
 <!-- Desktop nav -->
<div id="top-nav">
	<v-app id="inspire">
		<v-toolbar fixed scroll-off-screen class="hidden-xs-only">
			<v-toolbar-title><a href="index.html" style="color: black">Watches.Co</a></v-toolbar-title>
			<v-spacer></v-spacer>
			<v-toolbar-items class="hidden-xs-and-down">
				<v-btn flat style="background-color: silver">About us</v-btn>
				<v-btn flat>Men</v-btn>
				<v-btn flat>Women</v-btn>
			</v-toolbar-items>
		</v-toolbar>

		<v-parallax src="image/aboutParallax.jpg" height="600">
			<h1 class="text-xs-center" id="parallax-title">We provide,the best,the reasonable price of watches.</h1>
			<v-divider light style="border-color: white;width: 25%;margin:0 auto;margin-top: 30px;"></v-divider>
		</v-parallax>

		<!-- Card -->
		<div id="theFirstCard"> 
		<v-container grid-list-xl>
			<v-layout>
				<v-flex xs8 offset-xs2>
					<v-hover>
					<v-card dark class="card--flex-toolbar" slot-scope="{ hover }":class="`elevation-${hover ? 12 : 2}`">
						<v-img src="image/carda.jpg" aspect-ratio="1.75">
							<p id="card-center-text">Fashion</p>
							<p id="card-center-small">All nicer and good watches are here for you to discover.</p>	
						</v-img>

						<!-- <v-toolbar card prominent>
							<v-toolbar-title class="body-2 grey--text">Title</v-toolbar-title>

							<v-spacer></v-spacer>

							<v-btn icon>
								<v-icon>search</v-icon>
							</v-btn>
						</v-toolbar> -->
					</v-card>
					</v-hover>
				</v-flex>

			</v-layout>

			<v-layout>
				<v-flex xs8 offset-xs2>
					<v-hover>
						<v-card  class="card--flex-toolbar" dark slot-scope="{ hover }":class="`elevation-${hover ? 12 : 2}`">
							<v-img src="image/cardB.jpg" aspect-ratio="1.75">	
								<p id="card-center-text">Reasonable Price</p>			
								<p id="card-center-small">Despite the watches are really cool,the price will not increase, but decrease.That's mean <span style="font-style: italic;">YOU</span> can buy with <span>cheaper</span> price!</p>				
							</v-img>
						</v-card>
					</v-hover>
				</v-flex>
				
			</v-layout>
		</v-container>
		</div>

		<!-- Height -->
		<div style="height: 2000px;"></div>
	</v-app>
</div>

<!-- Mobile nav -->
<div id="mobile-app" class="hidden-sm-and-up">
	<v-app id="mobile-nav">
		<v-layout
     	 wrap
      	style="height: 200px;"
    	>
	      <v-container>
	        <v-layout>
	          <v-btn fixed
	            
	            dark
	            @click.stop="drawer = !drawer" style="position:fixed;top: 0;right: 0;width: 100%;background-color: rgba(0,0,0,0.4);color: white"
	          >
	          	<p style="margin-bottom: 0;margin-right: 5px;">Watches.Co</p>
	          	<v-space></v-space>
	            <v-icon dark>menu</v-icon>
	          </v-btn>
	        </v-layout>
	      </v-container>
  
	      <v-navigation-drawer
	        v-model="drawer"           
	        dark
	       	fixed
	        temporary
	      >
	        <v-list class="pa-1">          
	  
	          <v-list-tile avatar tag="div">
	  
	            <v-list-tile-content>
	              <v-list-tile-title>Watches.Co</v-list-tile-title>
	            </v-list-tile-content>
	  
	            
	          </v-list-tile>
	        </v-list>
	  
	        <v-list class="pt-0" dense>
	          <v-divider light></v-divider>
	  
	          <v-list-tile
	            v-for="item in items"
	            :key="item.title"
	            @click=""
	          >
	            <v-list-tile-action>
	              <v-icon>{{ item.icon }}</v-icon>
	            </v-list-tile-action>
	  
	            <v-list-tile-content>
	              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
	            </v-list-tile-content>
	          </v-list-tile>
	        </v-list>
	      </v-navigation-drawer>


	    </v-layout>
	</v-app>
</div>




<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="about.js"></script>

</body>
</html>