body
{
    /*background-color: rgba(0,0,0,0.9);*/
}

.mobile-bar-active
{
    font-size: 4vh;
}

.uk-navbar-container:not(.uk-navbar-transparent) {    
    background-color: rgba(0,0,0,0.2);
    background: black;
}

.uk-navbar-container
{
    transition: 0.6s;
    padding: 5px 15px;    
}

.uk-navbar-container a
{
    font-size: 1.8vh;
}

.uk-card p
{
    letter-spacing: 3px;
    color: grey;
}


/*#sm-md-display-none a
{
    color: silver;
}*/

.uk-navbar-center-left .uk-navbar-nav a:hover
{
    color: white;
    transition: 0.8s;
}

.uk-active a
{
    color: white;
}


#mobile-icon
{
    display: none;
    transition: 0.4s;
    padding: 10px 30px;
}

#parMobile
{

    background-image: url('image/parallax1.jpg');
    min-height: 120vh;
    margin-top: -30px;
}

#parMobile h1
{
    letter-spacing: 2px;
}

#parMobile p
{
    letter-spacing: 5px;
}

#categoryRow
{

    margin-top: 10%;
    margin-bottom: 10%;
    letter-spacing: 3px;
}

.uk-card-title
{
    letter-spacing: 2px;
}

.uk-card-hover
{
    cursor: pointer;
}

#scrollTop
{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 10px;
    display: none;
    padding: 9px 12px;
    background-color: black;
    color: white;
    border:none;
}

@media screen and (max-width: 768px)
{
    #sm-md-display-none
    {
        display: none;
    }

    #mobile-icon
    {
        display: block;        
        background-color: black;
        color: white;  
        border:none;           
    }    

    #parMobile
    {
        margin-top: -10px;
    }

    #parMobile h1
    {
        font-size: 4vh;
    }

    #parMobile p
    {
        font-size: 2vh;
        letter-spacing: 2px;
    }

    #card-all-container .uk-margin-xlarge-top
    {
        margin-top: 0px !important;
    }

}