a
{
	text-decoration: none;	
}

/*desktop active*/
#pc-active
{
	background-color: silver;
}

/* mobile active */
#mobile-active
{
	color: black;
	font-weight: bold;
}

#mobile-nav-content p
{
	padding: 12px;
	margin-top: 10px;	
	text-align: center;
}

#mobile-nav-content p a
{
	color: grey;
}

#theCarousel
{	
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
}



/*ad block detect*/
.adBanner {
    background-color: transparent;
    height: 1px;
    width: 1px;
}

#card1-parallax
{
	margin-top: -350px;	
	font-size: 2vh;
	letter-spacing: 3px;	
}

.card-content
{
	margin: 0 auto;
	text-align: center;
}

@media screen and (max-height:  700px)
{
	
}

@media screen and (max-width: 600px)
{
	#theCarousel
	{
		top: 0;
	}

	#Carousel-item-responsive
	{		
		height: 200px;		
	}

}