a
{
	text-decoration: none;	
}

/*desktop active*/
#pc-active
{
	background-color: silver;
}

/* mobile active */
#mobile-active
{
	color: black;
	font-weight: bold;
}

#mobile-nav-content p
{
	padding: 12px;
	margin-top: 10px;	
	text-align: center;
}

#mobile-nav-content p a
{
	color: grey;
}

#theCarousel
{	
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
}

#right-menu
{
	position: fixed;
	right: 0;
	text-align: left;
	font-size: 1.5vh;
	max-width: 150px;
	word-wrap: break-word;
	margin-top: -10px;
	margin-left: 5%;
	margin-right: 5%;
	z-index: 6;
}

#right-menu ul
{
	list-style-type: square;
}

#right-menu li a
{
	color: #013243;
}

@media screen and (max-height:  400px)
{
	#right-menu
	{
		position: absolute;
		right: 0;
		margin-top: 20%;
	}
}

@media screen and (max-width: 600px)
{
	#theCarousel
	{
		top: 0;
	}

	#Carousel-item-responsive
	{		
		height: 200px;		
	}

}